.loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1002;
}

.class_div {
    display: inline
}

.image-input-container {
    position: absolute;
    left: 40%;
    top: 10%;
}

.canvas-container img {
    width: 1600;
    height: 1000;
    position: absolute;
    left: 35%;
    top: 45%;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 2;
}

#loadingGif {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 3;
    display: none;
}

.result {
    position: absolute;
    left: 65%;
    top: 30%;
}