<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>银行卡识别</title>
    <link rel="stylesheet" href="static/css/checkbox.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    <div class="image-input-container">
        <input type="file" id='imageButton' class="image-local-input"
            accept="image/png, image/bmp, image/jpg, image/jpeg"
            onchange="FunimgPreview('imageButton','Preview','myCanvas')">
    </div>


    <div>
        <div class="canvas-container">
            <img id='Preview'></img>
            <canvas id="myCanvas">
        </div>
        <div class="result">
            <div class="json">
                <div class="json-request-title" id="billmodelname"></div>
                <div id="billNameList"></div>
                <div id="mytable"></div>
            </div>
        </div>
    </div>

    <img id='loadingGif' src="static/img/loading.gif"></img>

    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/jquery.form.js"></script>
    <script type="text/javascript" src="static/js/helps.js"></script>
    <script type="text/javascript">
        //变量初始化，存储需要请求的数据
        imgJson = {
            "imgString": "",
            "num": 0,
            "url": "",
            "result": "",
            "timeTake": 0.0,
            'ocrFlag': false
        };

        imgBoxes = [];
        imgRate = 1;

        //点击文件,自动提交文件，进行识别
        jQuery('#imageButton').on('change', function () {
        });

        setInterval(cycle, 700); //动画显示box   

    </script>
</body>

</html>